<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Add a New Food Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Food Item</h1>

    <form action="/users/<%= user._id %>/foods" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>

        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" id="quantity">

        <label for="expirationDate">Expiration Date</label>
        <input type="date" name="expirationDate" id="expirationDate">

        <button type="submit">Add Food Item</button>
    </form>

</body>
</html>
